.order-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

.order-page .order-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0 ;
    /* border: 2px solid blue; */

}
.order-page .order-container .order-right{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
}
.order-page .order-container .order-right .order-info-box {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 29px;

    width: 372px;
    height: 308px;
    flex-shrink: 0;
    border-radius: 16px;
    box-shadow: #d7b586 0px 6px 12px -2px, white 0px 3px 7px -3px;





}

.order-page .order-container .order-right .order-info-box .member-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-page .order-container .order-right .order-info-box .member-box .order-user-img {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.order-page .order-container .order-right .order-info-box .member-box .order-user-avatar {
    width: 117px;
    height: 112px;
    border-radius: 37px;
    fill: #d7b586;
    /* background: lightgray 50% / cover no-repeat; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.order-page .order-container .order-right .order-info-box .member-box .order-user-icon-box {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 37px;
    background: rgba(0, 0, 0, 0.33);
    z-index: 10;
    transform: translateY(90px);
  

   
}
.order-page .order-container .order-right .order-info-box .member-box .order-user-name {
    color: #08090D;
    font-family: Commissioner;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 128.571% */
    margin-top: 7px;
}

.order-page .order-container .order-right .order-info-box .member-box .order-user-prof {
    color: #A1A1A1;
    font-family: Commissioner;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 180% */
    margin-top: 7px;
}

.order-page .order-container .order-right .order-info-box .liner {
    margin-top: 40px;
    width: 100%;
    height: 2px;
    border: 2px solid  #A1A1A1;;
}

.order-page .order-container .order-right .order-info-box .order-user-address {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.order-page .order-container .order-right .order-info-box .order-user-address span{
    color: #000;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.order-page .order-container .order-right .order-info-box .payment-box {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.order-page .order-container .order-right .order-info-box .payment-box input{
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #B4AAAA;
    background: #F5F5F5;

    color: #777;
    font-family: Commissioner;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 240% */
}

.order-page .order-container .order-right .order-info-box .payment-box .card-child-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.order-page .order-container .order-right .order-info-box .card-type{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/*Left part*/

.order-page .order-container .order-left {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.order-page .order-container .order-left .order-main-box {
    margin-bottom: 15px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 16px;
    padding: 15px;

    display: flex;
    flex-direction: column;
    box-shadow: #d7b586 0px 6px 12px -2px, white 0px 3px 7px -3px;


}

.order-page .order-container .order-left .order-main-box .order-box-scroll{
    width: 100%;
   display: flex;
   flex-direction: column;
   
}


.order-page .order-container .order-left .order-main-box .order-box-scroll .orders-name-price{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
 }

 .order-page .order-container .order-left .order-main-box .order-box-scroll .orders-name-price .order-dish-img{
    width: 50px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 30px;
    border-radius: 29px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }

 .order-page .order-container .order-left .order-main-box .order-box-scroll .orders-name-price .title-dish{
    margin-left: 5px;
    color: #000;
    font-family: Commissioner;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 163.636% */
 }

 .order-page .order-container .order-left .order-main-box .order-box-scroll .price-box{
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    
    
 }

 .order-page .order-container .order-main-box .total-price-box {
    width: 100%;
    height: 41px;
    margin: 7px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
  
  }
  
  .order-page .order-container .order-main-box .total-price-box .box-total {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .order-page .total-price-box .box-total p {
    margin-left: 20px;
    font-family: "Commissioner";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #000;
  }
  
  .order-page .order-container .total-price-box .cancel-button {
    max-height: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 4px #00000040;
  }
  
  .order-page .order-container .total-price-box .pay-button {
    max-height: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 4px #00000040;
  }
  
  .order-page .order-container .total-price-box .verify-button {
    border-radius: 10px;
    box-shadow: 0 4px 4px #00000040;
  }
  
  .order-page .order-container .total-price-box .data-compl {
    font-family: "Commissioner";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    color: #0000;
  }